include:
  # use template for all stages 
  - project: "OE-7035/ssz-da/templates/pipeline-templates"
    ref: "fix-reference"
    file: "stages.yml"
  # use template for gitlab pipeline to deploy to shinyapps.io
  - project: "OE-7035/ssz-da/templates/pipeline-templates"
    ref: "fix-reference"
    file: "deploy-to-shinyapps.yml"
  # use template for gitlab pipeline to push main to github 
  - project: "OE-7035/ssz-da/templates/pipeline-templates"
    ref: "fix-reference"
    file: "publish-to-github.yml"

shiny-deploy-int:
  extends:
    - .shiny-deploy-int
  script:
    # run different file than specified in default deploy job
    - Rscript -e "source('dev/run_in_pipeline.R')"

shiny-deploy-prod:
  extends:
    - .shiny-deploy-prod 
  rules: 
    # keep inherited rules
    - !reference [.shiny-deploy-prod , rules]
    # add additional rule to run on schedule
    - if: $CI_PIPELINE_SOURCE == "schedule"
  script:
    # run different file than specified in default deploy job
    - Rscript -e "source('dev/run_in_pipeline.R')"

publish-main-to-github:
  extends:
    - .publish-main-to-github
