/********************************
* aWN CSS settings
*******************************/

.entraceDiv {
  margin-top: 40px;
}

.info_na_icon {
  display: flex;
  align-items: flex-start;
}

.info_na_text {
  padding-left: 16px;
}

.infoDiv {
  margin-top: 20px;
  padding: 20px;
  background-color: #F2F2F2;
}

.bold-vars {
  font-family: HelveticaNeueLTW05_85Heavy;
}

#results_1-timestamp {
  margin-top: 20px;
}

h6 {
  font-family: HelveticaNeueLTW05_85Heavy;
  color: #4D4D4D;
  font-size: 14px;
  line-height: 23px;
  font-weight: 750;
  margin-top: -1px;
  margin-bottom: -0.5px;
}

h5 {
  font-family: HelveticaNeueLTW05_85Heavy;
  color: #0F05A0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 750;
}

.info_na_div {
  font-size: 14px;
  margin-top: 20px;
  color: #4D4D4D;
  padding: 16px;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

/* Apply a uniform top margin for all cards */
.bslib-card {
  margin-top: 20px;  /* Same top margin for all cards */
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding-left: 20px;       
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}

.bslib-grid {
  gap: 2rem;
}

.bslib-card-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

.bslib-card-body {
  line-height: 1;
  padding-top: 10px;
}

.bslib-card .card-body p {
  margin-top: 0;
  font-size: 1.25rem;
}

.Reactable {
  margin-top: 5px;
}

.ReactTable .rt-tr:hover .rt-td {
  background: white;
  cursor: auto;
}

/********************************
* Media Queries for Mobile Devices
*******************************/

/* For screens 480px or smaller (small phones) */
@media (max-width: 480px) {
  .bslib-card {
    padding-left: 15px; 
    padding-right: 15px;
    margin-top: 20px;  /* Adjust top margin for small devices */
  }
  
  .bslib-grid {
    row-gap: 0rem;
  }
  
  .info_na_div {
    margin-top: 20px;
  }
  
  .infoDiv {
    margin-top: 20px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  div#download_ui {
    margin-bottom: 50px;
  }
  
}

/* For screens between 481px and 768px (larger phones and small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .bslib-card {
    padding-left: 15px; 
    padding-right: 15px;
    margin-top: 20px;  /* Adjust top margin for medium devices */
  }
  
  .bslib-grid {
    row-gap: 0rem;
  }
  
  .info_na_div {
    margin-top: 20px;
  }
  
  .infoDiv {
    margin-top: 20px;
  }
  
  #results_1-timestamp {
    margin-top: 30px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  div#download_ui {
    margin-bottom: 50px;
  }
  
}

/* For screens 768px and larger (tablets and above) */
@media (min-width: 768px) {
  .bslib-card {
    width: 100%;
    margin-top: 20px;  /* Keep consistent top margin for larger screens */
  }
}